<div class="contenedor" ng-controller="CtrConsultasPQRS as consulta" >   
    <div>
    <button  ng-click="consulta.consultarSolicitudes()" class="btn btn-primary">Consultar Solicitudes</button>
    </div>
    <br>

    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" 
          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{(consulta.solicitudes|filter:search).length}}%">
      </div>
      <label >Numero de Solicitudes  Filtradas : {{(consulta.solicitudes|filter:search).length}} </label>
    </div>


  <label>Busquedad General: <input class="form-control" ng-model="search.$"></label> <br>
    <label>Busquedad Nombre <input class="form-control" ng-model="search.nombre"></label><br>
    <label>Busquedad Detalle <input class="form-control" ng-model="search.detalle"></label><br>
    
        {{search}}
    
    <table class="table2">
         <tr>
        <td>FECHA SOLICITUD</td>
        <td>NOMBRE</td>
        <td>APELLIDO</td>
        <td>CORREO</td>
        <td>LUGAR</td>
        <td>SOLICITUD</td>
        <td>PRIORIDAD</td>
        <td>DETALLE</td>
      </tr>
        
      <tr ng-repeat="x in consulta.solicitudes | filter:search">
        <td>{{ x.fechaSolcitud }}</td>
        <td>{{ x.nombre }}</td>
        <td>{{ x.apellido }}</td>
        <td>{{ x.correo }}</td>
        <td>{{ x.lugar }}</td>
        <td>{{ x.solicitud }}</td>
        <td>{{ x.prioridad }}</td>
        <td>{{ x.detalle }}</td>
      </tr>
    </table>
</div>