
<div  class="contenedor1" style="width:50%" ng-controller="CtrDirectiva as objeto" >
	<h2 style="color:white" >{{objeto.inicio}}</h2>
	<form class="form-inline">
	  <div class="form-group">
			
	    <label class="sr-only" for="exampleInputEmail3">Usuario</label>
	    <input type="email" class="form-control" id="exampleInputEmail3" 
			  ng-model="objeto.email" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label class="sr-only" for="exampleInputPassword3">Contraseña</label>
	    <input type="password" class="form-control" id="exampleInputPassword3" 
			   ng-model="objeto.clave" placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-default" ng-click="objeto.accion()" >Accion Directiva</button>
	</form>

</div>