


<div style="width:100%" ng-controller="CtrEjemplos" >
    
    <h1 style="color:white"> {{saludo}}</h1>

    <button type="button" class="btn btn-success" ng-click="contarClick()">Sumar Click</button>

    <button type="button" class="btn btn-danger" ng-click="restarClick()">Restar Click</button>

    <h1 style="color:white"> Numero de click {{click}}</h1>

    <div ng-show="variable"><h1 style="color:white"> MAS DE 5 CLICK !!!!</h1></div>

    <div class="progress" style="width:50%" >
        <div class="progress-bar progress-bar-success" role="progressbar" 
            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{click}}%">
        </div>
    </div>

    <personalsoft-directiva></personalsoft-directiva>

</div>



<!--
<div style="width:100%" ng-controller="CtrEjemplos1 as ejemplo" >
    
    <h1 style="color:white"> {{ejemplo.saludo}}</h1>

    <button type="button" class="btn btn-success" ng-click="ejemplo.contarClick()">Sumar Click</button>

    <button type="button" class="btn btn-danger" ng-click="ejemplo.restarClick()">Restar Click</button>

    <h1 style="color:white"> {{ejemplo.click}}</h1>

</div>  -->

