

<div class="container"  ng-controller="CtrFormularioPQRS as formulario">
    {{formulario.saludo}}
	<div class="row centered-form">
	<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
	<div class="panel panel-default">
	<div class="panel-heading">
	<h3 class="panel-title">Formulario De PQRS </h3>
		</div>
		<div class="panel-body">
	<form >
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="form-group">
					<input type="text" ng-model="formulario.solicitud.nombre" class="form-control input-sm" placeholder="Nombre">
				</div>
			</div>
			
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="form-group">
					<input type="text" ng-model="formulario.solicitud.apellido" class="form-control input-sm" placeholder="Apellido">
				</div>
			</div>
			
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="form-group">
						<select class="form-control" ng-model="formulario.solicitud.tipo">
						<option>Pregunta</option>
						<option>Queja</option>
						<option>Reclamo</option>
						<option>Sugerencia</option>
						</select>
				</div>
			</div>

		<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="form-group">
						<select class="form-control"  ng-model="formulario.solicitud.lugar" >
						<option>ITAGUI</option>
						<option>BELLO</option>
						<option>ARMENIA</option>
						<option>RIONEGRO</option>
						<option>PEREIRA</option>
						<option>IBAGUE</option>
						<option>SOLEDAD</option>
						<option>SINCELEJO</option>
						<option>VILLAVICENCIO</option>
						<option>VALLEDUPAR</option>
						<option>PIE DE CUESTA</option>
						</select>
				</div>
			</div>
			
	<div class="col-xs-6 col-sm-6 col-md-6">
		<div class="form-group">
				<select class="form-control"   ng-model="formulario.solicitud.prioridad">
				<option ng-repeat="p in formulario.prioridades"  value="{{p}}">
					{{p}}
				</option>
				</select>
		</div>
	</div>
			
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="form-group">
					<input type="text"  class="form-control input-sm" placeholder="Correo Electronico" ng-model="formulario.solicitud.correo">
				</div>
			</div>


			<div >
				<div  class="form-group">
				<textarea class="form-control" rows="2" placeholder="Detalle Su Solicitud" ng-model="formulario.solicitud.detalle"></textarea>
				</div>
				</div>
		
				<div align="center">
				<button  ng-click="formulario.enviarSolicitud()" class="btn btn-primary">Enviar Solicitud</button>
				</div>
		</div>	   
	</form>
	{{formulario.resultado}}
	</div>
	</div>
	</div>
	</div>
	</div>
</div>

