body{
    background-color: #525252;
}
.centered-form{
	margin-top: 05px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

#comunicacion{
text-align:center; 
color:white;
font-family:TREBUCHET MS;
background: #00000;
font-size: 35px;
border-radius: 30px;
}


.table1 {     font-family: "arial", "Lucida Grande", Sans-Serif;
    font-size: 1.5em;    margin: 45px;     width: 80%; text-align: left;    border-collapse: collapse; }

.table1 th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

.table1 td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }

.table1 tr:hover td { background: #d0dafd; color: #339; }