* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family:arial;
}

body {
    background:#fff;
}

.menu_bar {
	display:none;
	border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
}

header {
	width: 100%;
	margin: 0 auto;
}

header .subnav {
	background:#424242;
	z-index:1000;
	width:95%;
	margin:5px auto;
	border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
}

header .subnav ul {
	list-style:none;
	margin: 0 auto;
}

header .subnav ul li {
    text-decoration:none;
	display:inline-block;
	position: relative;
	border-radius: 8px;
	color:#fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
}

header .subnav ul li:hover {
	background:#848484;
    text-decoration:none;
    color:#fff;
    border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
}

header .subnav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 10px;
}

header .subnav ul li a span {
	margin-right:10px;
	font-size:2em;
    text-decoration:none;
}

header .subnav ul li:hover .children {
	display:block;
	text-decoration:none;
    color:#fff;
    	border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
}

header .subnav ul li .children {
    text-decoration:none;
	display: none;
	background:#424242;
	position: absolute;
	width: 150%;
	z-index:1000;
}

header .subnav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header .subnav ul li .children li a {
	display: block;
}

header .subnav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header .subnav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}


.contenedor {
    padding:10px;
    background:#fff;
    color:#00000;
    width:95%;
	margin:5px auto;
	border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
}

.contenedor1 {
    padding:10px;
    background:#424242;
    color:#2E64FE;
     width:95%;
	margin:5px auto;
	border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
}

.table2 {
    
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    font-size:1.5 em;
}

.table2 {     font-family: "arial";
      margin: 45px;     width: 90%; text-align: left;    border-collapse: collapse; }

.table2 th {     font-size: 1em;     font-weight: normal;     padding: 8px;     background: #0080FF;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

.table2 td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }

.table2 tr:hover td { background: #d0dafd; color: #339; }

.image{
    float:left;
   margin-right:20px;
    
}


@media screen and (max-width: 800px) {
	body {
	    height: calc(100% + 80px);
	}

	.menu_bar {
		display:block;
		width:100%;
		/*position: fixed;
		top:0;*/
		background:#424242;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 10px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		text-decoration: none;
	}

	.menu_bar span {
		float: right;
		font-size: 40px;
	}

	header .subnav {
	    left: -100%;
		width: 60%;
		position: absolute;
		right:100%;
		margin: 0 auto;

	}

	header .subnav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header .subnav ul li a {
		display: block;
	}

	header .subnav ul li:hover .children {
		display: block;
		background:#424242;
	}

	header .subnav ul li .children {
		width: 100%;
		position: relative;
		background:#848484;
	}

	header .subnav ul li .children li a {
		margin-left:20px;
	}

	header .subnav ul li .caret {
		float: right;
	}
	.contenedor1 {
	   display:none;
	}
}

